body{
    background: indigo;
    font-style: italic;
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    justify-content: space-evenly;
}
div{
    width: 25%;
    height: 120px;
    background-color: black;
    color: indigo;
}